extends ./base

append style
  +style('$${bootstrap.style}', '$${fontAwesome.style}')
  <!--[if lt IE 9]>
  +script('$${html5shiv}', '$${respond}')
  <![endif]-->

append script
  +script('$${jquery@1.12.3}', '$${bootstrap}', '$${mustache}')
