extends /common

append style
  +style('index')

append content
  +org
    +template
      | {{#cur}}
      .panel.panel-default.mt-20.detail-show
        .panel-heading: .row
          .col-md-4
            .pull-right
              a(href="" data-modal-load="_query-modal1.html" data-modal-title="编辑部门")
                +icon('pencil', '编辑')
            label 当前部门:
            | {{cur}}
          .col-md-8
            a.btn.btn-primary#link-next(
              href=""
              data-modal-load="_query-modal2.html"
              data-modal-title="添加下级部门"
              data-modal-ctxt="返回") 添加下级部门
            +button('删除')(class="btn-primary j-del")
        .panel-body
          .row
            .col-md-8
              +detail-list(items)
      | {{/cur}}
      | {{^cur}}
      .panel.panel-default.mt-20
        .panel-body
          .empty-apartment
            span.text-warning 当前还没有任何部门，请添加部门后再维护人员信息！
            +button('添加部门')(
              class="btn-primary"
              data-modal-load="_query-modal1.html"
              data-modal-title="新增部门"
            )
      | {{/cur}}
    .panel.panel-default: .panel-body
      #toolbar
        .extra-icon
          a(href="add.html")
            +icon("cog","新增员工")
          a(
            href=""
            data-modal-load="_query-modal3.html"
            data-modal-title="批量导入页面"
            data-modal-stxt="导入"
          )
            +icon("reply","批量导入")
          a(href="")
            +icon("share-alt","导出")
      +table()
    
          
  +modal({noFooter:true})(class="modal-alert" id="modal2")
    .modal-alert-header
      +icon('exclamation-sign')
      | 导入出错
    .text-muted.text-left.inline-block
      p 1. 第 3 行：【姓名】长度超过10个字符！
      p 2. 第 100 行：【姓名】、【性别】不可以为空！
    div
      +button('知道了')(data-dismiss="modal" class="btn-primary")