
mixin checkbox(text, name)
  - if(!(text instanceof Array))
    - text = [text]
  each item,k in text
    label.checkbox-inline
      input(
        type="checkbox"
        name=name
      )&attributes(attributes)
      = item
      block

mixin radio(text, name, label)
  - if(!(text instanceof Array))
    - text = [text]
  each item,k in text
    label.radio-inline
      input(
        type="radio"
        name=name
        checked=!k
        required=label?true:false
        data-msg-required=label?'请选择'+label:false
      )&attributes(attributes)
      = item
      block

mixin input(type)
  if !type
    - type = 'text'
  input(type=type)&attributes(attributes)

mixin text(placeholder)
  +input()(placeholder=placeholder)

mixin email(placeholder)
  +input('email')(placeholder=placeholder)

mixin tel(placeholder)
  +input('telephone')(placeholder=placeholder)

mixin date(placeholder)
  +input('date')(placeholder=placeholder)

mixin button(name, type)
  button.btn(type="button")&attributes(attributes)= name

mixin submit(name)
  button.btn&attributes(attributes)= name

mixin select(items)
  if !items
    - items = ['请选择']
  select.form-control&attributes(attributes)
    each item in items
      option= item

mixin form-control(item)
  if /^(input|email|mobile|tel|date|text)$/.test(item.type)
    input.form-control(
      id=item.id
      type=/email/.test(item.type)?item.type:"text"
      required=item.i?true:false data-msg-required=item.i?'请输入'+item.label:false
      date=item.type==='date'?'true':false data-msg-date=item.type==='date'?item.label+"格式不正确":false
      data-msg-email=item.type==='email'?(item.label+"格式不正确"):false
      mobile=item.type==='mobile'?'true':false data-msg-mobile=item.type==='mobile'?(item.label+"格式不正确"):false
      tel=item.type==='tel'?'true':false data-msg-tel=item.type==='tel'?(item.label+"格式不正确"):false
      any=item.any?'true':false data-msg-any=item.any?"请选择一项":false
      placeholder=item.placeholder
      name=getRn(item.label)
    )
  else if "textarea" == item.type
    textarea.form-control(
      required=item.i?true:false
      data-msg-required=item.i?'请输入'+item.label:false
      placeholder=item.placeholder
      name=getRn(item.label)
    )
  else if "select" == item.type
    select.form-control(
      required=item.i?true:false
      data-msg-required=item.i?'请选择'+item.label:false
      name=getRn(item.label)
    )
      option 请选择
  else if "checkbox" == item.type
    +checkbox(item.text,getRn(item.label),item.label)
  else if "radio" == item.type
    +radio(item.text,getRn(item.label),item.label)

mixin form-horizontal-item(item,type)
  if !type
    - type = 'xs'
  if !item.cw
    - item.cw = 9
  div(class={row:item.row,'form-group':!item.row})&attributes(attributes)
    if item.label
      label.control-label(class="col-"+type+"-3")
        if item.i
          span.text-danger *
        = item.label
        | ：
    if item.type == 'mix'
      .col-xs-9(class="col-md-"+item.cw class=item.offset?('col-'+type+'-offset-3'):'')
        block
    else
      .col-xs-9(class=item.cw==9?"":("col-md-"+item.cw) class={"form-control-static":!item.type} class=item.offset?('col-'+type+'-offset-'+(item.offset===true?'3':item.offset)):'')
        if !item.type
          = item.text
        else if "button" == item.type
          +button(item.text)
        else if "submit" == item.type
          +submit(item.text||"保存")(class="btn-primary")
        else
          +form-control(item)
    if item.other
      div(class="col-"+type+"-"+(9-item.cw))
        block

mixin form-horizontal(items)
  if !items
    - items = []
  form.form-horizontal&attributes(attributes)
    each item in items
      +form-horizontal-item(item)
    block

mixin form-check(items)
  +form-horizontal
    block
    each item in items
      if typeof item == 'string'
        .form-group
          .col-xs-offset-1= item
      else if item.checkType == 'radio'
        .form-group
          .col-xs-offset-1
            +radio(item.text,'way')
              if item.desc
                span.text-primary= item.desc
      else
        +form-horizontal-item(item)

mixin form-top(items)
  each item in items
    .row
      each _item in item
        .col-md-4
          +form-horizontal-item(_item)

